<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mrkazofficial.mdiskdownloader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Need to setup queries for Android 11 or above -->
    <queries>
        <package android:name="com.mxtech.videoplayer.pro" />
        <package android:name="com.mxtech.videoplayer.ad" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:banner="@drawable/ic_logo_mdisk_transparent"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MDiskDownloader"
        android:usesCleartextTraffic="true"
        tools:targetApi="29">
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Notification receive handling tasks -->
        <receiver
            android:name=".receivers.NotificationReceiver"
            android:exported="false"
            android:label="Notification Receiver" >
            <intent-filter>
                <action android:name="LOCAL_BROADCAST_SERVICE_WORKER"/>
            </intent-filter>
        </receiver>
        <!-- Downloader service (foreground) -->
        <service
            android:name=".services.DownloaderService"
            android:enabled="true"
            android:exported="false"
            android:label="Downloader Service" />
    </application>


</manifest>